name: Deploy to Sandbox (Manual)

on:
  workflow_dispatch:
    inputs:
      COMMIT_ID_CHOICE:
        description: 'Deployment mode'
        required: true
        type: choice
        default: "publish-all-artifacts-in-repo"
        options:
          - "publish-artifacts-in-last-commit"
          - "publish-all-artifacts-in-repo"

env:
  apiops_release_version: v6.0.2

jobs:
  deploy-to-sandbox:
    runs-on: ubuntu-latest
    environment: apim-bpimb-sb
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
    
      - name: Run Spectral
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm install -g @stoplight/spectral-cli
      - run: spectral lint "${{ github.workspace }}/apimartifacts/apis/*.{json,yml,yaml}" --ruleset https://raw.githubusercontent.com/connectedcircuits/devops-api-linter/main/rules.yaml
        continue-on-error: true

      - name: Run publisher with commit ID
        if: github.event.inputs.COMMIT_ID_CHOICE == 'publish-artifacts-in-last-commit'
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: ${{ github.workspace }}/apimartifacts
          CONFIGURATION_YAML_PATH: ${{ github.workspace }}/configuration.sandbox.yaml
          COMMIT_ID: ${{ github.sha }}
        run: |
          set -e
          echo "Downloading publisher..."
          wget -O publisher.zip https://github.com/Azure/apiops/releases/download/${{ env.apiops_release_version }}/publisher-linux-x64.zip
          unzip publisher.zip
          chmod +x ./publisher
          echo "Running publisher with commit ID..."
          ./publisher
        shell: bash

      - name: Run publisher without commit ID (all artifacts)
        if: github.event.inputs.COMMIT_ID_CHOICE == 'publish-all-artifacts-in-repo'
        env:
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: ${{ github.workspace }}/apimartifacts
          CONFIGURATION_YAML_PATH: ${{ github.workspace }}/configuration.sandbox.yaml
        run: |
          set -e
          echo "Downloading publisher..."
          wget -O publisher.zip https://github.com/Azure/apiops/releases/download/${{ env.apiops_release_version }}/publisher-linux-x64.zip
          unzip publisher.zip
          chmod +x ./publisher
          echo "Running publisher (all artifacts)..."
          ./publisher
        shell: bash
