name: Run - Publisher

on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      COMMIT_ID_CHOICE:
        description: 'Choose "publish-all-artifacts-in-repo" only when you want to force republishing all artifacts (e.g. after build failure). Otherwise stick with the default behavior of "publish-artifacts-in-last-commit"'
        required: true
        type: choice
        default: "publish-artifacts-in-last-commit"
        options:
          - "publish-artifacts-in-last-commit"
          - "publish-all-artifacts-in-repo"

jobs:
  get-commit:
    runs-on: ubuntu-latest
    steps:
      # Set the COMMIT_ID env variable
      - name: Set the Commit Id
        id: commit
        run: echo "commit_id=${GITHUB_SHA}" >> $GITHUB_OUTPUT
    outputs:
      commit_id: ${{ steps.commit.outputs.commit_id }}

  #Deploy to PRODUCTION with Commit ID (only changed artifacts from last commit)
  # Pipeline: DEV  Repository  PRODUCTION
  Deploy-To-PROD-With-Commit-ID:
    if: (github.event.inputs.COMMIT_ID_CHOICE == 'publish-artifacts-in-last-commit' || github.event.inputs.COMMIT_ID_CHOICE == '')
    needs: get-commit
    uses: ./.github/workflows/run-publisher-with-env.yaml
    with:
      API_MANAGEMENT_ENVIRONMENT: production # Deploys to PRODUCTION APIM service (niaid-bpimb-apim-dev)
      COMMIT_ID: ${{ needs.get-commit.outputs.commit_id }}
      CONFIGURATION_YAML_PATH: configuration.production.yaml # Production deployment configuration
      API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: apimartifacts # Artifacts extracted from DEV environment
    secrets: inherit

  #Deploy to PRODUCTION without Commit ID (all artifacts in repo)
  # Use this option for full redeployment of all artifacts to PRODUCTION
  Deploy-To-PROD-Without-Commit-ID:
    if: ( github.event.inputs.COMMIT_ID_CHOICE == 'publish-all-artifacts-in-repo' )
    needs: get-commit
    uses: ./.github/workflows/run-publisher-with-env.yaml
    with:
      API_MANAGEMENT_ENVIRONMENT: production # Deploys to PRODUCTION APIM service (niaid-bpimb-apim-dev)
      CONFIGURATION_YAML_PATH: configuration.production.yaml # Production deployment configuration
      API_MANAGEMENT_SERVICE_OUTPUT_FOLDER_PATH: apimartifacts # All artifacts extracted from DEV environment
    secrets: inherit
